.main{
    
}
.pic{
    width: 672px;
    height: 440px;
}
.title{
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
    text-transform: uppercase;
    color: #272727;
    display: block;
    margin-bottom: 16px;
}
.text{
    width: 672px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #525252;
    margin-bottom: 30px;
}
.btn_green{
    background-color: #d6eebe;
    color: #272727;
    width: 165px;
    height: 50px;
    padding: 12px 32px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}